In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

In [3]:
df = pd.read_excel("/content/Rogério Chagas - Análise Descritiva (Medidas).xlsx")
df

,id,age,sex,region,income,married,children,car,save_act,current_act,mortgage,pl
0,ID12346,46,MALE,SUBURBAN,37770.90,NO,0,YES,YES,YES,YES,NO
1,ID12291,67,FEMALE,SUBURBAN,63130.10,YES,2,YES,YES,YES,NO,YES
2,ID12371,67,FEMALE,SUBURBAN,60747.50,NO,2,NO,YES,YES,YES,YES
3,ID12111,66,FEMALE,TOWN,59803.90,YES,0,NO,YES,YES,NO,NO
4,ID12235,66,FEMALE,TOWN,59503.80,YES,2,YES,YES,YES,YES,YES
...,...,...,...,...,...,...,...,...,...,...,...,...
325,ID12165,21,MALE,TOWN,5014.21,NO,0,YES,YES,YES,YES,NO
326,ID12130,61,MALE,RURAL,2427.10,YES,1,NO,NO,YES,NO,YES
327,ID12115,36,MALE,RURAL,1947.60,YES,0,NO,YES,YES,YES,NO
328,ID12414,18,FEMALE,RURAL,1610.90,NO,2,YES,YES,YES,NO,NO
329,ID12429,57,FEMALE,RURAL,508.20,NO,1,NO,YES,NO,YES,YES

In [ ]:
sns.barplot(
    y="total_bill",  # Para vertical: y="total_bill", 
    x="day",         #                x="day",
    data=tips, 
    estimator=sum,  
    ci=None, 
    #color='#69b3a2'
    );